<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="calculate">
        <h1>GET PINCODE</h1>

        <form action="" method="post">
            <input type="text" name="place" placeholder="place" required="required">

            <button type="submit" class="btn btn-primary btn-block btn-large">Get Pincode</button>
        </form>

        <br>
            Pincode is <h1>{{res}} </h1>
        <br>
    </div>
</body>
</html>